* {box-sizing: border-box;}

body{
	background-color: #ddd;
	text-align: center;
}

table {
	position: relative;
	left:.5vh;
	top: .5vh;
	margin: 50px auto;
	padding: 0;
	tbody {
		tr{
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			padding: 0;
			td{
				padding: 0;
			}
		}
	}
}

.block{
	width: 10px;
	height: 10px;
	border: 1px solid black;
}

.dead {
	background-color: white;
}

.alive {
	background-color: red;
}

.blue {
	background-color: blue;
}

